@model List<string>
<p style="padding:30px; border:1px dotted red;">
    <h2>به نسخه آزمایشی بانک نمونه سوالات پارسه خوش آمدید</h2>
    <h1>تماس با پشتیبان سیستم</h1>
    @foreach (var item in Model)
    {
        <h3>@item</h3>
    }
</p>