@model  IEnumerable<Degree>

<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>IsActive</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.IsActive</td>
        </tr>
    }
</table>